flows_Quicksilver.json
[{"id":"aee4e13d.075b7","type":"tab","label":"Send/Recieve xBee","disabled":true,"info":"Send a personalised message to your xBee transmitter and see that message on your xBee reciever"},{"id":"d438ed8b.30da9","type":"tab","label":"Dash Dash","disabled":false,"info":""},{"id":"22c6705c.814d8","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"df91288f.e3aea8","type":"tab","label":"Maps","disabled":true,"info":""},{"id":"4026f3e2.6b3f2c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8a213d1c.f3679","type":"ui_group","z":"","name":"DATA INPUT","tab":"11214bd0.b00df4","disp":true,"width":"6","collapse":false},{"id":"92f09d36.7aac8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ff5024","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#ff5024","edited":true},"page-titlebar-backgroundColor":{"value":"#ff5024","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ff8d70","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ff5024","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"45751fcc.6f724","type":"mqtt-broker","z":"","name":"TestMQTT","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"662f3166.97e2a","type":"xbee-config","z":"","apiMode":"2","rawFrames":false,"convertAdc":true,"vrefAdc":"1200","serialPort":"COM6","lock":true,"baudRate":"9600","dataBits":"8","stopBits":"1","parity":"none","bufferSize":"65536","rtscts":false,"xon":false,"xoff":false,"xany":false,"vmin":"1","vtime":"0"},{"id":"32b1e4fd.ce003c","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"749ff62.c051408","type":"ui_group","z":"","name":"Time Stuff","tab":"4026f3e2.6b3f2c","disp":true,"width":"6","collapse":false},{"id":"11214bd0.b00df4","type":"ui_tab","z":"","name":"XBEE STUFF","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"f466bf11.58b12","type":"xbee-config","z":"","apiMode":"2","rawFrames":false,"convertAdc":true,"vrefAdc":"1200","serialPort":"COM5","lock":true,"baudRate":"9600","dataBits":"8","stopBits":"1","parity":"none","bufferSize":"65536","rtscts":false,"xon":false,"xoff":false,"xany":false,"vmin":"1","vtime":"0"},{"id":"cb78cc83.2ab5b","type":"ui_group","z":"","name":"TimeCharts","tab":"4026f3e2.6b3f2c","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e6486de.8512d8","type":"ui_group","z":"","name":"AAAA","tab":"4026f3e2.6b3f2c","order":3,"disp":true,"width":"6","collapse":false},{"id":"b4782d07.1ac7","type":"mqtt-broker","z":"","name":"Mosca","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"983c75f7.bf2608","type":"ui_group","z":"","name":"Test","tab":"ad2e53d0.2b858","disp":true,"width":"24"},{"id":"ad2e53d0.2b858","type":"ui_tab","z":"","name":"Test2","icon":"dashboard"},{"id":"16a56d0a.9b2533","type":"ui_group","z":"","name":"Demo","tab":"ae690fd0.62d8d","disp":true,"width":"12"},{"id":"ae690fd0.62d8d","type":"ui_tab","z":"","name":"Demo","icon":"home","order":"1"},{"id":"428bdecb.3eef2","type":"xbee-rx","z":"aee4e13d.075b7","name":"xBee rx","xBee":"f466bf11.58b12","x":310,"y":220,"wires":[["be678a3.11bb678","69749d80.a014a4"]]},{"id":"be678a3.11bb678","type":"debug","z":"aee4e13d.075b7","name":"xbee recieved","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":220,"wires":[]},{"id":"947859d8.5e11c8","type":"xbee-tx","z":"aee4e13d.075b7","name":"","xBee":"662f3166.97e2a","x":580,"y":340,"wires":[]},{"id":"7cc39ec6.350d3","type":"function","z":"aee4e13d.075b7","name":"dataFrame","func":" var myDataFrame1 = {\n            type: 0x10,\n            id: 0x01,\n            destination64: \"0013a200400a0127\",\n            destination16: \"fffe\",\n            broadcastRadius: 0x00,\n            options: 0x00,\n            data: flow.get(\"words\")||\"hello\"\n        };\n    msg.payload=myDataFrame1;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["947859d8.5e11c8","37b8bc95.232c14"]]},{"id":"9df8b4c8.697da8","type":"inject","z":"aee4e13d.075b7","name":"inputLoop","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":340,"wires":[["7cc39ec6.350d3"]]},{"id":"7a92b80d.6902a8","type":"inject","z":"d438ed8b.30da9","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["4430632d.adf67c","1bea2ced.b41693","79a70d6a.1224b4"]]},{"id":"4430632d.adf67c","type":"function","z":"d438ed8b.30da9","name":"DateTime","func":"var dd = new Date(msg.payload)\nflow.set(\"datetime\",dd)\nmsg.payload=dd\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["58e35708.63ace8"]]},{"id":"58e35708.63ace8","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":1,"width":0,"height":0,"name":"Date  ","label":"Date: ","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":100,"wires":[]},{"id":"cdecfaec.32d838","type":"debug","z":"d438ed8b.30da9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":300,"wires":[]},{"id":"1bea2ced.b41693","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":2,"width":0,"height":0,"name":"msTime","label":"Milliseconds since 1990 Jan 1 : ","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":20,"wires":[]},{"id":"f5b81ad.7090be8","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":3,"width":0,"height":0,"name":"","label":"YEAR ","format":"{{msg.payload[0]}}","layout":"row-spread","x":530,"y":180,"wires":[]},{"id":"79a70d6a.1224b4","type":"function","z":"d438ed8b.30da9","name":"DateParts","func":"var dates  = flow.get(\"datetime\")\nvar parts = [dates.getFullYear(), dates.getMonth(),dates.getDate(),  dates.getDay(), dates.getSeconds(), dates.getMinutes(), dates.getHours()] \nmsg.payload = parts\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["f5b81ad.7090be8","cdecfaec.32d838","13774060.88e74","69a7fead.7d0d5","dd5652a1.c813f","90f76aca.454928","90784e7c.1bece","51279.594abd87c"]]},{"id":"13774060.88e74","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":4,"width":0,"height":0,"name":"","label":"MONTH","format":"{{msg.payload[1]}}","layout":"row-spread","x":540,"y":220,"wires":[]},{"id":"69a7fead.7d0d5","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":5,"width":0,"height":0,"name":"","label":"DATE","format":"{{msg.payload[2]}}","layout":"row-spread","x":530,"y":260,"wires":[]},{"id":"dd5652a1.c813f","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":6,"width":0,"height":0,"name":"","label":"DAY","format":"{{msg.payload[3]}}","layout":"row-spread","x":530,"y":300,"wires":[]},{"id":"90f76aca.454928","type":"ui_gauge","z":"d438ed8b.30da9","name":"Seconds","group":"cb78cc83.2ab5b","order":2,"width":0,"height":0,"gtype":"donut","title":"Seconds","label":"seconds","format":"{{msg.payload[4]}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":340,"wires":[]},{"id":"79abc143.509d5","type":"ui_text_input","z":"aee4e13d.075b7","name":"dataIn","label":"DATA INPUT","tooltip":"TYPE HERE","group":"8a213d1c.f3679","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"words","x":330,"y":420,"wires":[["1dd55121.d4815f"]]},{"id":"37b8bc95.232c14","type":"debug","z":"aee4e13d.075b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"1dd55121.d4815f","type":"function","z":"aee4e13d.075b7","name":"save input","func":"flow.set(\"words\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[[]]},{"id":"69749d80.a014a4","type":"function","z":"aee4e13d.075b7","name":"count number of msg","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["d47e3655.ee10c8"]]},{"id":"d47e3655.ee10c8","type":"ui_chart","z":"aee4e13d.075b7","name":"","group":"8a213d1c.f3679","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":120,"wires":[[]]},{"id":"90784e7c.1bece","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":7,"width":0,"height":0,"name":"","label":"Hour","format":"{{msg.payload[6]}}","layout":"row-spread","x":530,"y":340,"wires":[]},{"id":"51279.594abd87c","type":"ui_gauge","z":"d438ed8b.30da9","name":"Minute","group":"cb78cc83.2ab5b","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"Minutes","format":"{{msg.payload[5]}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":380,"wires":[]},{"id":"257ae01d.30a0f","type":"ui_button","z":"d438ed8b.30da9","name":"Button","group":"749ff62.c051408","order":7,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PEW PEW","payloadType":"str","topic":"","x":150,"y":400,"wires":[["5e45ea1d.357794"]]},{"id":"5e45ea1d.357794","type":"function","z":"d438ed8b.30da9","name":"button clicker","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["e23403c5.6aa4a"]]},{"id":"e23403c5.6aa4a","type":"ui_text","z":"d438ed8b.30da9","group":"749ff62.c051408","order":8,"width":0,"height":0,"name":"ButtonClicker","label":"Number on times Button has been clicked","format":"{{msg.count}}","layout":"row-spread","x":540,"y":420,"wires":[]},{"id":"add3b9b9.c0c548","type":"ui_slider","z":"d438ed8b.30da9","name":"","label":"slider","tooltip":"","group":"8e6486de.8512d8","order":9,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":190,"y":540,"wires":[["1b530f09.51ac71"]]},{"id":"1b530f09.51ac71","type":"ui_gauge","z":"d438ed8b.30da9","name":"","group":"8e6486de.8512d8","order":10,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":540,"wires":[]},{"id":"81755482.6fff18","type":"inject","z":"22c6705c.814d8","name":"","topic":"","payload":"Respect","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["7619c034.46762"]]},{"id":"eeb2e49a.147088","type":"mqtt in","z":"22c6705c.814d8","name":"","topic":"Example","qos":"2","datatype":"auto","broker":"b4782d07.1ac7","x":130,"y":120,"wires":[["e7f7e2df.a3382"]]},{"id":"7619c034.46762","type":"mqtt out","z":"22c6705c.814d8","name":"","topic":"Example","qos":"","retain":"","broker":"b4782d07.1ac7","x":340,"y":40,"wires":[]},{"id":"e7f7e2df.a3382","type":"debug","z":"22c6705c.814d8","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":120,"wires":[]},{"id":"d2eaab81.b96e38","type":"mosca in","z":"22c6705c.814d8","mqtt_port":"1884","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":220,"wires":[[]]},{"id":"96a2f7bf.f1f978","type":"inject","z":"df91288f.e3aea8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["4b3a04f2.46d6fc"]]},{"id":"4b3a04f2.46d6fc","type":"function","z":"df91288f.e3aea8","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"Esri Topography\", opt:o};\nmsg.payload.command.layer = \"Esri Topography\";\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["15dc7f91.73e78"]]},{"id":"15dc7f91.73e78","type":"worldmap","z":"df91288f.e3aea8","name":"","x":670,"y":120,"wires":[]},{"id":"4a8b4b5.99188b4","type":"function","z":"df91288f.e3aea8","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["15dc7f91.73e78","11cd5ce0.af1eb3"]]},{"id":"2f8a307e.ce5d9","type":"function","z":"df91288f.e3aea8","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:-37.8,lon:144.9,zoom:18} };\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["15dc7f91.73e78"]]},{"id":"5ce490f0.2f1ee","type":"csv","z":"df91288f.e3aea8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":310,"y":160,"wires":[["4a8b4b5.99188b4"]]},{"id":"8b6d75f0.7c6c08","type":"inject","z":"df91288f.e3aea8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":120,"wires":[["2f8a307e.ce5d9"]]},{"id":"799fb35c.b2db8c","type":"http request","z":"df91288f.e3aea8","name":"","method":"GET","paytoqs":false,"url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","proxy":"","x":190,"y":220,"wires":[["5ce490f0.2f1ee"]]},{"id":"f310ea03.d19aa8","type":"inject","z":"df91288f.e3aea8","name":"Quakes","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":false,"onceDelay":"","x":120,"y":160,"wires":[["799fb35c.b2db8c"]]},{"id":"11cd5ce0.af1eb3","type":"debug","z":"df91288f.e3aea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":360,"wires":[]},{"id":"eb7a74eb.61a148","type":"inject","z":"df91288f.e3aea8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":320,"wires":[["67387d17.e32744"]]},{"id":"67387d17.e32744","type":"function","z":"df91288f.e3aea8","name":"","func":"var count = context.get('count')||0;\ncount += .0001;\n// store the value back\ncontext.set('count',count);\nmsg.payload={lat:-37.8,lon:(144.9+count),\"icon\":\"bug\",\"iconColor\":\"blue\",\"name\":\"Leanne\",\"layer\":\"Esri Topography\"};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["15dc7f91.73e78","11cd5ce0.af1eb3"]]},{"id":"9a3ccb75.57fd58","type":"worldmap-tracks","z":"df91288f.e3aea8","name":"","depth":20,"layer":"single","x":650,"y":400,"wires":[["15dc7f91.73e78"]]},{"id":"aa7e8bb8.eefee8","type":"inject","z":"df91288f.e3aea8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":400,"wires":[["64f66e15.2b669"]]},{"id":"64f66e15.2b669","type":"function","z":"df91288f.e3aea8","name":"","func":"var places = [ \n    {\"lat\":-37.814, \"lon\":(144.96332),\"icon\":\"bug\",\"iconColor\":\"blue\",\"name\":\"Leanne\",\"layer\":\"Esri Topography\"},\n    {\"lat\":-37.814, \"lon\":(144.96332+0.01),\"icon\":\"bug\",\"iconColor\":\"blue\",\"name\":\"Leanne\",\"layer\":\"Esri Topography\"},\n    {\"lat\":-37.814, \"lon\":(144.96332+0.02),\"icon\":\"bug\",\"iconColor\":\"blue\",\"name\":\"Leanne\",\"layer\":\"Esri Topography\"}\n];\nmsg.payload={\"trackpoints\": places, \"lineColor\":\"red\"};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["9a3ccb75.57fd58","11cd5ce0.af1eb3"]]},{"id":"7c594cc4.c95fc4","type":"inject","z":"22c6705c.814d8","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[[]]}]